/*
  COLOR MAP:
    Navbar Hover: red

  FONT MAP:
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lobster', cursive;
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.orange-text { 
  color: rgb(233, 101, 78);
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic
}

.medium-text {
  font-size: 14px;
}

.small-text {
  font-size: 12px;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.monteserrat {
  font-family: 'Montserrat', sans-serif;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.simple-input {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn:focus,.btn:active {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fas {
  cursor: pointer;
}

/* --------- NAV BAR --------- */
.nav-search {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.nav-search::-webkit-input-placeholder {
  font-size: 13px;
}
.nav-search:-ms-input-placeholder {
  font-size: 13px;
}
.nav-search::-ms-input-placeholder {
  font-size: 13px;
}
.nav-search::placeholder {
  font-size: 13px;
}

.navbar {
  -webkit-box-shadow: 1px 0px 3px rgb(150, 150, 150);
          box-shadow: 1px 0px 3px rgb(150, 150, 150)
}

.navbar-cartIcon {
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
  width: 50px;
  margin-right: 0px;
}

.navbar-cartIcon span {
  position: absolute;
  top: -9px !important;
  left: -7px;
}

.navbar-cartIcon button i {
  padding-top: 10px;
}

.navbar-cartIcon button {
  padding: 0;
}

.navbar-user-btn button {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-nav li:visited,
.navbar-nav li:link {
  border-bottom: 2px solid transparent;
}

/* --------- POPUP NAV BAR --------- */
.col1 a {
  text-decoration: none;
  color: rgb(233, 101, 78);
}

.popup-nav-container {
  position: fixed;
  top: 56px;
  z-index: 100;
  width: 100vw;
  background-color: white;
  -webkit-box-shadow: 0.5px 0.5px 1px #b5b8bd;
          box-shadow: 0.5px 0.5px 1px #b5b8bd;
  /* visibility: hidden; */
}

.popup-nav {
  /* padding-top: 5px; */
  padding-bottom: 5px;
}

.popup-nav-img {
  max-height: 220px;
}

.popup-nav-link {
  cursor: pointer;
  list-style: none;
  font-size: 15px;
}

/* --------- LOGIN --------- */
.login-notification-text {
  color: red;
  font-family: 'Open Sans', sans-serif;
}

/* -------- LANDING PICTURE ------- */
.landing-picture-container {
  position: relative;
  top: 57px;
  min-height: calc(100vh - 57px - 452px)
}

.landing-wallpaper {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  -o-object-fit: cover;
     object-fit: cover;
  /* width: 100vw;
  height: 550px; */
}

.landing-picture-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landing-picture-text h2 {
  font-size: 40px;
  font-style: italic;
}

.landing-picture-text p {
  font-size: 20px;
}

/* ------- LANDING SLOGAN --------*/
.landing-slogan h3 {
  font-size: 36px;
}

/* ------- LANDING SAMPLE --------*/
.landing-image-simple {
  -webkit-filter: brightness(60%), grayscale(50%);
          filter: brightness(75%), grayscale(50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  -webkit-transition: 1s;
  transition: 1s;
}

.sample-col {
  margin-left: 0;
  margin-right: 0;
  padding: 0 0px;
  overflow: hidden;
  /* padding-left: 5px; */
}

.landing-sample-text {
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}


.sample-link,
.sample-link:hover {
  text-decoration: none !important;
  color: inherit;
}

/* ------- LANDING SAMPLE PRODUCTS --------*/
.sample-header {
  font-size: 40px;
  margin-bottom: 10px;
}

/* ------- LANDING FEEDBACK --------*/
.feedback-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("https://lh3.googleusercontent.com/iFmacAkFDd99QdK5_880_qlVmhHEIxIpk2VWYmm9zYoQvrgyoWHZAcIo4tY2lnDNSaQi3HB-U7ztJMknUjMj1hW6HXtOlAnOYW3c4uaJC30RUfbWxNwW3SFIaRATwz8YvZHPeFsKsGKaXheVnQdcoVTTqOhc1dke0iJsU86_Ro6TbkHUGMzpsiSWjH1SUxpjuox7HWyG4R5C3_J68v6_yVyWDE5mgJRQr0Zu_WfIp2-2SovPkP3ZnvMqb9fMGFHuM1dmJbqZFWEv6FqhtScf2XWw__DjrfcHZz2hx9_EYtXqa5xUqrh4vuq8ElxOOeNEojKKaXhrdaT7pNydpD5wayhwMcakBUivGOyUuOrJxzPfPxRsfKKjSEYj2Vb6OTraC0kskpiZQsD2jMxbpW6XkwYZowPSHKtTZdTfDJ_LcjWcul4X3_2Yb4wQTvvw00Gy4Gdcmb6YAdirMSs4CEpPfgS24RqIh3q3wEimoiFrm5asTHdAIEN8tZJgwK1AQpvL6vLsoC1hyglMP198J7FrZRBXyLzO-7I-NMelCwVOO8dvKiZi9XKVclpAbPWmW_5WTlclamJLW5AYF2cBvGgIQOuWWuzoPJp36_4Oudtd0BM8VndhFRuAxyjF0QrxlqB-Uk95WQDalMvgiDLz8omVN9HqqdHAV7I=w2354-h1326-no");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://lh3.googleusercontent.com/iFmacAkFDd99QdK5_880_qlVmhHEIxIpk2VWYmm9zYoQvrgyoWHZAcIo4tY2lnDNSaQi3HB-U7ztJMknUjMj1hW6HXtOlAnOYW3c4uaJC30RUfbWxNwW3SFIaRATwz8YvZHPeFsKsGKaXheVnQdcoVTTqOhc1dke0iJsU86_Ro6TbkHUGMzpsiSWjH1SUxpjuox7HWyG4R5C3_J68v6_yVyWDE5mgJRQr0Zu_WfIp2-2SovPkP3ZnvMqb9fMGFHuM1dmJbqZFWEv6FqhtScf2XWw__DjrfcHZz2hx9_EYtXqa5xUqrh4vuq8ElxOOeNEojKKaXhrdaT7pNydpD5wayhwMcakBUivGOyUuOrJxzPfPxRsfKKjSEYj2Vb6OTraC0kskpiZQsD2jMxbpW6XkwYZowPSHKtTZdTfDJ_LcjWcul4X3_2Yb4wQTvvw00Gy4Gdcmb6YAdirMSs4CEpPfgS24RqIh3q3wEimoiFrm5asTHdAIEN8tZJgwK1AQpvL6vLsoC1hyglMP198J7FrZRBXyLzO-7I-NMelCwVOO8dvKiZi9XKVclpAbPWmW_5WTlclamJLW5AYF2cBvGgIQOuWWuzoPJp36_4Oudtd0BM8VndhFRuAxyjF0QrxlqB-Uk95WQDalMvgiDLz8omVN9HqqdHAV7I=w2354-h1326-no");

  background-size: cover;
  background-repeat: none;
  /* background-attachment: fixed; */
  background-position: 50% 50%;
  height: 450px;
  color: white;
}

.feedback-avatar {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.295);
  -webkit-transition: height 0.6s;
  transition: height 0.6s;
}

.feedback-img-container {
  height: 200px;
}

/* ------- FOOTER --------*/
.footer-container {
  width: 100vw;
  /* margin-top: 25px; */
  background: #16191a;
}

.footer-list {
  list-style: none;
  font-size: 14px;
}

/* ------- LOGIN MODAL --------*/
.login-modal {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

/* ------- PRODUCTS PAGE --------*/
.products-heading-container {
  position: relative;
  letter-spacing: 2px;
}

.products-heading-picture {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}

.products-picture-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.products-picture-text {
  font-size: 50px;
}

.products-path {
  background-color: rgb(241, 241, 241);
  -webkit-box-shadow: 0.5px 0.5px 1px #c0c0c0;
          box-shadow: 0.5px 0.5px 1px #c0c0c0;
}

.products-path a {
  text-decoration: none;
  color: #343a40;
}

.products-path a:hover {
  font-size: bold;
}


.products-filter-container {
  background-color: rgb(241, 241, 241);
  -webkit-box-shadow: 1px 1px 2px #c0c0c0;
          box-shadow: 1px 1px 2px #c0c0c0;
}

.products-filter-list {
  list-style: none;
  margin: 0 auto;
}

.products-filter-bubbles {
  border: 2px solid #acacac;
  border-radius: 20px;
  padding: 0.5px 14px;
  background: transparent;
  margin-bottom: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 13px;
}

.products-filter-bubbles:focus {
  outline: none !important;
}

.products-filter-selected {
  background-color: #acacac;
}

.products-product-img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

.products-products-title {
  text-decoration: none;
  color: black;
}

.products-detail-des-text {
  background-color: #c9c9c9a1;
  border-radius: 20px;
  padding: 10px 15px;
  line-height: 20px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.product-detail-size-btn {
  width: 90%;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* .product-detail-size-btn:hover {
  background-color: black;
  color: white;
} */

.products-detail-collapse {
  border-bottom: 1px solid black;
}

.products-detail-collapse-header-text {
  border: none;
  background: transparent;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.products-detail-collapse-header-text:active,
.products-detail-collapse-header-text:hover,
.products-detail-collapse-header-text:link,
.products-detail-collapse-header-text:visited {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.products-detail-qty-container input {
  outline:none;
}

.products-detail-qty-container input:disabled {
  color: black;
  opacity: 1;
  font-weight: bold;
}

.products-star {
  color: rgb(233, 101, 78);
}

/* ------- CART MODAL --------*/
.cart-modal-notification {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 10%;
  right: 10%;
  background-color: white;
  border-radius: 20px;
}

.cart-modal-notification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.cart-modal-img {
  max-height: 250px;
}

.cart-modal-recommend-img {
  max-height: 120px;
}

.cart-modal-header {
  border-bottom: 1px solid rgb(192, 192, 192);
}

.cart-modal-close-btn {
  border: none;
  background: transparent;
  outline: none;
  color: #212529;
}

.cart-modal-price {
  color: #238443;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.4px;
}

.cart-modal-qty {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 0.3px;
}

.cart-modal-shopping-detail span {
  font-size: 14px;
  font-weight: 200px;
  font-family: 'Montserrat', sans-serif;
}

.cart-modal-shopping-detail span {
  font-size: 14px;
  font-weight: 200px;
  font-family: 'Montserrat', sans-serif;
}

/* ------- CART ITEMS --------*/
.cart-item-detail {
  background-color: white;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  -webkit-box-shadow: 1px 1px 3px #c0c0c0;
          box-shadow: 1px 1px 3px #c0c0c0;
  -webkit-transition: 1s;
  transition: 1s;
}

.cart-item-detail img {
  border-radius: 20px;
}

.cart-item-detail a {
  text-decoration: none;
}

.cart-item-qty {
  width: 12%;
  background: transparent;
}

.cart-item-detail i {
  font-size: 11px;
  color: rgb(99, 99, 99)
}

.cart-item-total-money {
  font-size: 18px;
  font-weight: bold;
  color: #238443
}

.cart-checkout-svg {
  width: 40px;
}

/* ------- CART ITEMS --------*/
.order-page-container {
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 3px #c0c0c0;
          box-shadow: 1px 1px 3px #c0c0c0;
  -webkit-transition: 1s;
  transition: 1s;
}