/* 
  COLOR MAP:
    Navbar Hover: red
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  font-size: 13px;
}

/* --------- NAV BAR --------- */
.navbar-nav li:visited,
.navbar-nav li:link {
  border-bottom: 2px solid transparent;
}

.navbar-nav li:hover,
.navbar-nav li:active {
  border-bottom: 2px solid red;
}
