/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
  .landing-wallpaper {
    filter: brightness(40%);
    object-fit: cover;
    width: 100vw;
    height: 300px;
  }
  
  .landing-picture-text h2 {
    font-size: 22px;
  }
  .landing-picture-text p {
    font-size: 14px;
  }
  .shop-now-btn {
    margin-right: 0;
  }

  .landing-slogan h3 {
    font-size: 30px;
  }

  .landing-slogan p {
    font-size: 14px;
  }

  .sample-products {
    object-fit: cover;
    width: 80%;
    height: 220px;
  }

  .text-quote {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .landing-wallpaper {
    filter: brightness(40%);
    object-fit: cover;
    width: 100vw;
    height: 450px;
  }

  .landing-image-simple {
    filter: brightness(75%);
    object-fit: cover;
    width: 100%;
    height: 280px
  }

  .shop-now-btn {
    margin-right: 10px;
  }

  .sample-products {
    object-fit: cover;
    width: 100%;
    height: 380px;
  }
  
  .text-quote {
    text-align: left;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Hide the first column */
  .col1 {
    display: none;
  }

  .sample-products {
    object-fit: cover;
    width: 100%;
    height: 160px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Hide the first column */
  .col1 {
    display: inline;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .landing-wallpaper {
    filter: brightness(40%);
    object-fit: cover;
    width: 100vw;
    height: 580px;
  }

  .landing-image-simple {
    filter: brightness(75%);
    object-fit: cover;
    width: 100%;
    height: 400px
  }

  .landing-slogan h3 {
    font-size: 46px;
  }

  .landing-slogan p {
    font-size: 22px;
  }

  .landing-sample-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    text-shadow: 1px 1px 2px black;
  }

  .sample-products {
    object-fit: cover;
    width: 100%;
    height: 260px;
  }
}