/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .landing-wallpaper {
    filter: brightness(40%);
    object-fit: cover;
    width: 100vw;
    height: 450px;
  }

  .landing-image-simple {
    filter: brightness(75%);
    object-fit: cover;
    width: 100%;
    height: 280px
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Hide the first column */
  .col1 {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Hide the first column */
  .col1 {
    display: inline;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .landing-wallpaper {
    filter: brightness(40%);
    object-fit: cover;
    width: 100vw;
    height: 580px;
  }

  .landing-image-simple {
    filter: brightness(75%);
    object-fit: cover;
    width: 100%;
    height: 400px
  }

  .landing-slogan h3 {
    font-size: 46px;
  }

  .landing-slogan p {
    font-size: 22px;
  }
}