.popup-nav-container {
  position: absolute;
  top: 57px;
  z-index: 100;
  width: 100vw;
  background-color: #dcdde1;
  /* visibility: hidden; */
}

.popup-nav {
  /* padding-top: 5px; */
  padding-bottom: 5px;
}

.popup-title {
  font-family: 'Montserrat', sans-serif;
}

